services:
  bot:
    build:
      context: .
      dockerfile: docker/bot.Dockerfile
    env_file:
      - .env
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud:ro
    restart: unless-stopped

  sync-job:
    build:
      context: .
      dockerfile: docker/jobs.Dockerfile
    env_file:
      - .env
    profiles:
      - jobs
    command: ["python", "-m", "src.jobs.main"]

  sync-job-full:
    build:
      context: .
      dockerfile: docker/jobs.Dockerfile
    env_file:
      - .env
    profiles:
      - jobs
    command: ["python", "-m", "src.jobs.main", "--full"]
